<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://onscreensync.com/tizen/display" version="1.0.0" viewmodes="maximized">
  <tizen:application id="onScreenSync.Display" package="onScreenSync" required_version="5.5"/>
  <content src="index.html"/>
  <name>OnScreenSync Display</name>
  <icon src="icon.svg"/>
  <tizen:profile name="tv-samsung"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="enable" encryption="disable" install-location="auto" hwkey-event="enable"/>
  <access origin="https://www.onscreensync.com" subdomains="true"/>
  <access origin="*" subdomains="true"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
  <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
</widget>
